:root { 
--gray_500:#9f9f9f; 
--gray_800:#393d46; 
--bluegray_100:#cdcfd1; 
--bluegray_100_87:#cdcfd187; 
--black_900_0c:#0000000c; 
--gray_50:#f6f7fb; 
--white_A700_82:#ffffff82; 
--yellow_400:#fae952; 
--gray_500_87:#9f9f9f87; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--black_900_68:#00000068; 
--black_900_26:#00000026; 
}